/** Heroes site */
.slider {
  padding-top: calc(22.5vh + 8%);
  container-type: inline-size;
  overflow: hidden;
  box-shadow: 1px 1px 111px 1px rgba(13, 110, 253, 0.22);
}

.slider div {
  border: none;
  outline: none;
  height: inherit;
  height: 100%;
  margin: 0;
  padding: 0;
}

.slider .carousel3,
.slider .carousel1 {
  background: url("/src/assets/images/Ve-tranh-thuy-mac.jpg") no-repeat center 40%/cover;
}

.slider .carousel4,
.slider .carousel6 {
  background: url("/src/assets/images/hero-bgr.jpg") no-repeat center center/cover;
}

.slider .carousel2 {
  background: url("/src/assets/images/hero-bgr1.jpg") no-repeat center center/cover;
}

.slider .carousel5 {
  background: url("/src/assets/images/coffee5.jpg") no-repeat center center/cover;
}

.slider .title-wrap {
  font-size: 2cqi;
}

.slider .title-wrap .title-content {
  padding-inline-start: 3em;
}

.slider .title {
  text-shadow: -2px 4px 6px black;
  text-transform: uppercase;
  font-size: calc(2cqi + 0.6cqb);
}

.slider .hero-bgr-right .coffee {
  width: 48%;
  right: 20%;
  bottom: 14%;
  object-fit: scale-down;
  filter: drop-shadow(-50px 30px 80px #f6652cbf);
}

.slider .hero-bgr-right .coffee-bg4,
.slider .hero-bgr-right .coffee0 {
  filter: drop-shadow(-50px 30px 80px #f6652cbf) drop-shadow(-6px 4px 4px rgba(0, 0, 0, 0.597)) invert(1);
}

.slider .hero-bgr-right .coffee3,
.slider .hero-bgr-right .coffee-bg2,
.slider .hero-bgr-right .coffee-bg3,
.slider .hero-bgr-right .coffee-bg0 {
  filter: drop-shadow(-50px 30px 80px rgba(95, 224, 255, 0.839)) drop-shadow(-6px 4px 4px rgba(0, 0, 0, 0.471));
}

.slider .hero-bgr-right .coffee5,
.slider .hero-bgr-right .coffee-bg1 {
  filter: drop-shadow(-50px 30px 80px rgba(248, 192, 186, 0.839)) drop-shadow(-6px 4px 4px rgba(0, 0, 0, 0.471));
}

.slider .right-item {
  overflow-y: clip;
}

.slider .left-item {
  cursor: grab;
}

.slider .left-item:active {
  cursor: grabbing;
}

.slider .custom-control .svg-icon {
  transform: scale(1) translateY(6px);
}

.slider .custom-control .dance {
  animation: dance 0.8s linear;
}

.slick-slider .slick-arrow.slick-prev, .slick-slider .slick-arrow.slick-next {
  z-index: 9999;
  border-radius: 999px;
  width: max-content;
  height: fit-content;
  padding: 3px 2px 0;
  transition: all 0.3s ease-in-out;
  --bs-bg-opacity: 0.3;
}

.slick-slider .slick-arrow.slick-prev:hover, .slick-slider .slick-arrow.slick-next:hover {
  background: var(--bs-focus-ring-color);
  box-shadow: 0 0 20px var(--bs-focus-ring-color);
}

.slick-slider .slick-arrow.slick-prev::before, .slick-slider .slick-arrow.slick-next::before {
  font-size: 30px;
}

.slick-slider .slick-arrow.slick-prev {
  left: 1rem;
}

.slick-slider .slick-arrow.slick-next {
  right: 1rem;
}

.slick-dots.custom-dots {
  margin-left: 12%;
  bottom: 25px;
}

.slick-dots.custom-dots li {
  position: relative;
  width: 3.5rem;
  height: 2.6rem;
  padding: 0;
  margin: 0 0.2rem;
  cursor: pointer;
  transition: width 0.35s ease-in-out;
}

.slick-dots.custom-dots li .dots1::before,
.slick-dots.custom-dots li .dots::after {
  content: attr(title);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: -75%;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 9.9rem;
  opacity: 0;
  z-index: -1;
  color: #bfc6e1;
  border: 0.2rem solid currentColor;
  transition: opacity 0.35s linear, z-index 0.35s linear;
}

.slick-dots.custom-dots li .dots1::before {
  content: attr(data-total);
  right: unset;
  left: -75%;
  opacity: 1;
  z-index: 9;
}

.slick-dots.custom-dots li.slick-active button:before {
  color: inherit;
}

.slick-dots.custom-dots li.slick-active .dots::after {
  z-index: 9;
  opacity: 1;
  transition: opacity 0.35s linear, z-index 0.35s linear;
}

.slick-dots.custom-dots li.slick-active ~ li {
  width: 0;
  margin: 0;
  transition: width 0.35s ease-in-out;
}

.slick-dots.custom-dots li button {
  margin: 0;
  width: 100%;
  padding: 15px 0;
}

.slick-dots.custom-dots li button:before {
  height: 6px;
  width: 100%;
  top: 38%;
  overflow: hidden;
  border-radius: 9rem;
  color: inherit;
  background: currentColor;
}

.slick-dots.custom-dots .custom-paging {
  position: absolute;
  display: none;
  width: 4.6rem;
  height: 4.6rem;
}

.slick-dots.custom-dots .slick-active + li .custom-paging {
  display: flex;
  translate: 1.2rem -0.2rem;
  cursor: pointer;
  z-index: 9999;
}

@media screen and (max-width: 580px) {
  .slider .title {
    font-size: 1.4rem;
  }
}
