@charset "UTF-8";
@font-face {
  font-family: f8-project08;
  src: url("/src/assets/font/Gordita-Light.otf") format("truetype");
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: f8-project08;
  src: url("/src/assets/font/Gordita-LightItalic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: f8-project08;
  src: url("/src/assets/font/Gordita-Regular.otf") format("truetype");
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: f8-project08;
  src: url("/src/assets/font/Gordita-RegularItalic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: f8-project08;
  src: url("/src/assets/font/Gordita-Medium.otf") format("truetype");
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: f8-project08;
  src: url("/src/assets/font/Gordita-MediumItalic.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: f8-project08;
  src: url("/src/assets/font/Gordita-Bold.otf") format("truetype");
  font-weight: 600;
  font-display: block;
}

@font-face {
  font-family: f8-project08;
  src: url("/src/assets/font/Gordita-BoldItalic.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: f8-project08;
  src: url("/src/assets/font/Gordita-Black.otf") format("truetype");
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: f8-project08;
  src: url("/src/assets/font/Gordita-BlackItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

.f8-p8font {
  font-family: f8-project08 !important;
}

:root {
  font-family: f8-project08;
  font-synthesis: none;
  --scrolled-offset: 6rem;
  --bs-body-bg-rgb: 246, 246, 246;
  --bs-secondary-rgb: 238, 238, 238;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --color-arrow: #f6f6f6;
}

body {
  --bs-bg-opacity: 0;
  transition: background-color 0.3s linear;
  font-family: f8-project08;
}

#root,
#app,
.my-app {
  --bs-bg-opacity: 1;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.avatar,
.icon-btn,
.svg-icon,
.icon-link,
.icon-ctrl {
  width: 1em;
  height: 1em;
}

.avatar,
.icon-btn,
.icon-link,
.icon-ctrl {
  cursor: pointer;
}

.avatar:active,
.icon-btn:active,
.icon-link:active,
.icon-ctrl:active {
  filter: brightness(0.5);
}

.dashed {
  border-style: dashed !important;
}

.success-message {
  position: absolute;
  top: 40%;
  left: 38%;
  padding: 1.6rem 3rem;
  color: #198754;
  font-size: 1.8rem;
  font-style: italic;
  border-radius: 1rem;
  background: #def2f5;
  border: 1px solid #198754;
  z-index: 999;
}

.error-message {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 40%;
  left: 38%;
  padding: 0.6rem 1.6rem 0.8rem;
  color: #f12222;
  font-size: 2.2rem;
  font-style: italic;
  border-radius: 4px;
  background: #f0d1c4;
  border: 1px solid #f12222;
  z-index: 999;
  overflow: hidden;
}

/** Header-site */
header {
  transition: all 0.5s linear;
}

.header-site {
  --bs-bg-opacity: 0.8;
  position: sticky;
  height: 10rem;
  z-index: 999999999999;
}

.header-site.change-height {
  height: calc(var(--scrolled-offset) + 2rem);
  position: fixed;
}

body:has(.change-height) main#main-site {
  margin-top: calc(var(--scrolled-offset) + 2rem);
  transition: margin-top 0.3s linear;
}

.bgr-header {
  backdrop-filter: blur(3.5rem);
}

#header-site.fix-top {
  position: fixed;
  height: var(--scrolled-offset);
}

/* Xử lý bù Top */
#main-site.scrolled-offset,
#main.scrolled-offset {
  margin-top: calc(var(--scrolled-offset));
}

.logo a span {
  height: 4.8rem;
  font-size: 3rem !important;
  font-style: italic;
  cursor: pointer;
}

/* navigation nav */
.nav-site > li {
  z-index: 9999;
}

.nav-site > li a::after,
.nav-list > li a::after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  right: 10%;
  width: 0;
  opacity: 0;
  height: 1px;
  border-radius: 9px;
  background: #e1c6c6;
  transition: opacity 0.35s linear, width 0.2s linear;
}

.nav-list > li a::after {
  content: "";
  bottom: 0;
}

.list-item > .item-link.active,
.nav-item .nav-link.active,
.list-group > .list-item .item-link:hover,
.nav-group > li:hover > a,
.nav-site > li:hover a,
.nav-list > li:hover a {
  border-radius: 0.4rem;
  color: var(--bs-primary) !important;
  background: var(--bs-gradient);
  transition: color 0.25s linear, background-img 0.25s linear, background-img 0.3s linear;
  cursor: pointer;
}

.nav-item a.nav-link.active {
  color: var(--bs-primary) !important;
}

.nav-item .nav-link.active::after,
.nav-site > li:hover a::after,
.nav-list > li:hover a::after {
  left: 10%;
  width: 80%;
  opacity: 1;
  background: currentcolor;
  transition: opacity 0.2s linear, width 0.4s linear;
}

#header-site .header-control .theme-switch,
#header-site .header-control .header-avatar,
#header-site .header-control .header-btn-theme,
#header-site .header-control .card-icon {
  width: 4.6rem;
  height: 4.6rem;
  outline: transparent;
  flex-shrink: 0;
}

/* Header Modal Menu */
body:has(#header-site [data-tippy-root] .header-modal) {
  overflow-y: hidden;
}

#header-site .toggle-menu {
  width: 40px;
  height: 40px;
  padding: 0.6rem;
}

[data-tippy-root] #arrow.tippy-arrow {
  top: -3.4rem;
  font-size: 5rem;
  color: var(--color-arrow);
}

[data-tippy-root] .svg-icon[name="arrow-up-triangle"]:hover {
  opacity: 1 !important;
}

.user-menus:hover [name="arrow-path"] {
  transform: rotate(500deg);
}

[name="arrow-path"] {
  transition: transform 1.2s;
}

[name="arrow-path"]:hover {
  transform: rotate(500deg);
}

.tippy-content {
  filter: drop-shadow(0px 0px 20px var(--filter-form-shadow));
}

.tippy-content.modal-header-menu {
  box-shadow: 0px 0px 4px 1px var(--bs-dark-border-subtle), 0px 40px 90px 20px var(--dropdown-shadow-color), inset 0px 0px 1px 1px var(--bs-tertiary-bg);
  width: calc(100vw - 10vw);
}

[data-tippy-root]:has(.header-modal) .modal-content,
[data-tippy-root]:has(.header-modal) .menu-column {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

[data-tippy-root]:has(.header-modal) .modal-content::-webkit-scrollbar,
[data-tippy-root]:has(.header-modal) .menu-column::-webkit-scrollbar {
  width: 1px;
}

[data-tippy-root]:has(.header-modal) .modal-content::-webkit-scrollbar-thumb,
[data-tippy-root]:has(.header-modal) .menu-column::-webkit-scrollbar-thumb {
  width: 1px;
  background: rgba(65, 255, 1, 0.125);
}

[data-tippy-root]:has(.header-modal) .list-title,
[data-tippy-root]:has(.header-modal) .nav-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1.6rem;
  margin-left: -0.2rem;
  font-size: 1.6rem;
  cursor: default;
}

[data-tippy-root]:has(.header-modal) .list-title .svg-icon,
[data-tippy-root]:has(.header-modal) .nav-title .svg-icon {
  font-size: 30px;
  translate: 0 -0.4rem;
}

[data-tippy-root]:has(.header-modal) .nav-item [class*="-title"] {
  font-family: f8-project08;
}

[data-tippy-root]:has(.header-modal) .list-group:not(.sub-menu),
[data-tippy-root]:has(.header-modal) ul:not(.sub-menu) {
  margin: 0 !important;
  padding-left: 1rem !important;
}

.modal-avatar .modal-avatar-arrow {
  top: -2.8rem;
}

.modal-avatar .user-menu {
  height: 4.8rem;
}

.modal-avatar .user-menu:hover {
  background: var(--bs-gradient);
}

#header-site:has([data-tippy-root] .modal-cart-header) .modal-arrow,
#header-site:has([data-tippy-root] .modal-favourite) .modal-arrow {
  top: -2.8rem;
}

body:has(div[data-tippy-root] .modal-video-detail) {
  overflow: hidden;
}

div[data-tippy-root]:has(.modal-video-detail) {
  inset: unset !important;
  transform: unset !important;
  top: 0 !important;
  left: 0 !important;
}

.cart-btn::before {
  content: "";
  position: absolute;
  inset: 15% 98% 15% 1%;
  background: rgba(163, 153, 153, 0.625);
  border-radius: 9rem;
}

/* Header control  */
.btn-login,
.btn-logout,
.btn-register {
  --bs-bg-opacity: 0.001;
  font-weight: 500;
  transition: all;
  transition-duration: 0.3s;
}

.btn-login:hover,
.btn-logout:hover,
.btn-register:hover {
  opacity: 0.6;
  translate: 0 -0.2rem;
  filter: grayscale(0);
  transition: all 0.2s ease-in-out;
}

/* End navigation nav */
/* Login register forgotPw Page */
#content-forgotPw,
#content-register,
#content-login {
  width: 100%;
}

#content-login {
  background: url("/src/assets/images/Ve-tranh-thuy-mac.jpg") no-repeat center/cover;
}

#content-forgotPw {
  background: url("https://i.ytimg.com/vi/x0fSBAgBrOQ/maxresdefault.jpg") no-repeat center/cover;
}

#content-register {
  background: url("/src/assets/images/Ve-tranh-thuy-mac.jpg") no-repeat center/cover;
}

[data-bs-theme="dark"] #content-register,
[data-bs-theme="dark"] #content-forgotPw,
[data-bs-theme="dark"] #content-login {
  background: url("/src/assets/images/coffee5.jpg") no-repeat left bottom/cover;
}

.form-wraps {
  min-width: 40rem;
  box-shadow: 0 4px 6px rgba(90, 137, 241, 0.3), 0 1px 12px rgba(66, 227, 255, 0.12);
  box-shadow: var(--bs-box-shadow);
}

.content-register,
.content-forgotPw,
.content-login {
  min-height: 100vh;
  width: 50rem;
  max-width: calc(100% - 6rem);
}

.content-forgotPw,
.content-login {
  width: 40rem;
}

.content-register {
  width: 100rem;
}

.form-group-content:has(.error) > input {
  background-color: rgba(255, 127, 80, 0.143);
  border-color: #f54425;
}

.form-check-label {
  border-left: 1px solid #bababa4e;
}

.form-group-content:has(.error) .form-check-label svg use {
  color: #ff2600;
}

.form-check-input {
  border-color: #86b7fe !important;
}

.form-switch label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 100%;
  z-index: 999;
  border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
  background-color: rgba(59, 59, 59, 0.157);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.2em 1.2em;
  transition: opacity 0.25s ease-in-out;
}

.form-group-content:has(.error) input[type="password"] + .custom-control label {
  filter: hue-rotate(140deg) brightness(0.9);
}

input#confirmPassword[type="password"] + .custom-control label,
input#password[type="password"] + .custom-control label {
  background-image: url("data:image/svg+xml,<svg id='eyes' xmlns='http://www.w3.org/2000/svg' fill='cornflowerblue' viewBox='0 0 576 512'><path d='M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z'></path></svg>");
  cursor: pointer;
}

input#confirmPassword[type="text"] + .custom-control label,
input#password[type="text"] + .custom-control label {
  background-image: url("data:image/svg+xml,<svg id='eye-slash' xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 640 512'><path d='M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z'></path></svg>");
  background-color: rgba(255, 127, 80, 0.143);
  cursor: pointer;
}

.svg-icon:hover,
.custom-control.form-switch label:hover {
  opacity: 0.8;
}

.custom-control.form-switch input {
  display: none;
}

.custom-control #email_check {
  pointer-events: none;
  z-index: -1;
}

.remember input {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.36);
}

[name="Facebook_circle"] {
  color: #0d6efd;
}

.form-control:focus,
.register-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0) !important;
}

.content-register .brands .svg-icon,
.content-login .brands .svg-icon {
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
  border-radius: 99.9rem;
  box-shadow: 0 0 0.8rem 2px #e8e3e3;
}

.content-register .brands > a,
.content-login .brands > a {
  transition: translate, filter;
  transition-duration: 0.3s;
}

.content-register .brands > a:hover,
.content-login .brands > a:hover {
  translate: 0 -0.2rem;
  filter: grayscale(0);
}

.loading-svg {
  width: 18rem;
  height: 18rem;
  overflow: visible;
  transform: scaleX(-1);
  translate: 0 -1.4rem;
}

.loading-svg use {
  color: rebeccapurple;
}

.gender input {
  border: 1px solid rgba(0, 0, 0, 0.36);
  translate: 0 -2px;
}

/* ====  multi-level-menu  === */
.multi-level-menu .active {
  background: unset;
  background-color: var(--bs-success-bg-subtle) !important;
  opacity: 1;
}

.multi-level-menu .active svg {
  fill: var(--bs-success-bg-subtle) !important;
}

.multi-level-menu .multi-menu.active ~ .multi-menu {
  display: none;
}

.thumb-video.hidden {
  animation: index-hidden 1.5s linear forwards !important;
}

.thumb-video .thumb-img {
  transition: opacity 1s linear;
}

@keyframes index-hidden {
  to {
    z-index: -1;
  }
}

/* ** section-home */
#footer [name="TikTok-icon-color"] {
  transform: translateY(-50%) rotate(10deg);
}

#section-contact {
  transition: all 0.5s linear;
}

body:has(.contact.active) #section-contact {
  margin-top: 30px;
  margin-top: 30px;
  margin-top: 50px;
  margin-top: 40px;
}
