@charset "UTF-8";
[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-body-bg-rgb: 41, 46, 57;
  --bs-secondary-rgb: 23, 28, 40;
  --filter-form-shadow: rgba(0, 0, 0, 0.4);
}

[data-bs-theme="dark"] #app {
  --bs-bg-opacity: 1;
}

[data-bs-theme="dark"] .top-bar {
  --bs-bg-opacity: 0.01;
}

[data-bs-theme="dark"] .header-site {
  --bs-bg-opacity: 1;
}

[data-bs-theme="dark"] [name="GitHub"] use {
  color: #eee;
}

[data-bs-theme="dark"] .error-message .btn-close {
  --bs-btn-close-white-filter: #000;
}

[data-bs-theme="dark"] .nav-sidebar .sidebar-title {
  --bs-secondary-rgb: 31, 37, 50;
}

[data-bs-theme="dark"] .nav-sidebar .nav-item:nth-child(odd) a {
  --bs-bg-opacity: 0.5;
}

[data-bs-theme="dark"] #footer,
[data-bs-theme="dark"] .btn-filter,
[data-bs-theme="dark"] .product-checkout,
[data-bs-theme="dark"] .card-contain .card-item,
[data-bs-theme="dark"] .show-result-filter .fast-result {
  --bs-secondary-bg-subtle: #171c28;
}

[data-bs-theme="dark"] .modal-filter-product {
  --filter-form-shadow: rgba(0, 0, 0, 0.6);
  --bs-dark-bg-subtle: #292e39;
}

[data-bs-theme="dark"] .arrow,
[data-bs-theme="dark"] #arrow {
  --color-arrow: #292e39;
}

[data-bs-theme="dark"] .form-group.I-💔-F8 .form-control,
[data-bs-theme="dark"] .modal-address-content .form-control,
[data-bs-theme="dark"] .payment-info .form-control {
  --bs-dark-rgb: 248, 249, 250;
}

[data-bs-theme="dark"] .btn-cancel {
  --bs-dark-rgb: 248, 249, 250;
}
